* {
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {

    width: 120px;
    height: 48px;
    margin-top: 30px;

}

body {
    background: linear-gradient(#F3F5FC 70%,#cbd5e3);
   
}

.main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    padding-bottom: 12%;
}



.texto-inicio {
    color: #0A3871;
    margin-top: 90px;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}

.texto-inicio::placeholder {
    color: #0A3871;
    font-weight: bold;

}



.mensagem {
    position: absolute;
    width: 22%;
    height: 90%;
    left: 65%;
    top: 5%;

    background: #FFFFFF;

    border-radius: 28px;
    border-color: transparent;
    background-position: center;
    background-image: url(imagens/boneco.png);
    background-repeat: no-repeat;
    outline: none;
    resize: none;
   
    
}

.msg-texto {
    position: absolute;
    font-size: 16px;
    top: 75%;
    right: 16%;
    line-height: 25px;
    padding: 2% 0;
   

}

.mensagem::placeholder {
    position: absolute;
    top: 72%;
    left: 5%;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 150%;

}

.mensagem-limpa {
    background-image: none;
}

.txt-msg {
    display: none;
}


.botoes {

    box-sizing: border-box;
    display: flex;
    padding: 0%;
    gap: 24px;
    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 85%;
    

}

.encriptar {
    
    cursor: pointer;
    color: #FFFFFF;
    width: 328px;
    height: 67px;

    background-color: #0A3871;
    border-radius: 24px;

        /*Texto */

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 1s all;
}

.encriptar:hover {
    transform: scale(1.1);
    background-color: #255da2;
    font-size: 20px;
    
   
}

.descriptografar {

    cursor: pointer;
    color: #0A3871;
    width: 328px;
    height: 67px;

    /* Light gray */

    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    /* text */

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 1s all;
     
}

.descriptografar:hover {
    background-color: #aaacb0;
    font-size: 20px;
    transform: scale(1.1);
    
    
}

.copiar {
    display: none;
}

.copiar-ativo {

    display: inline-block;
    position: absolute;
    cursor: pointer;
    color: #FFFFFF;
    width: 250px;
    height: 67px;

    background-color: #0A3871;
    border-radius: 24px;

        /*Texto */

    top: 84%;
    right: 15%;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.info {
    width: 250px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;
    opacity: 0.8;
}

.exclamacao {
    width: 16px;
    height: 16px;
}

footer {
    
    background: #cbd5e3;
}

.rodape    {
    margin-top: 6%;
    padding: 1.5% 0;
    text-align: center;
}

footer h2 {
    font-family: fantasy;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.img-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-linkedin {
    height: 40px;
    margin: 0 2px;
    opacity: 0.8;
    transition: 0.8s all;
}

.img-linkedin:hover {
    transform: scale(1.1);
    opacity: 1;
    
}

.img-git {
    height: 40px;
    margin: 0 2px;
    opacity: 0.8;
    transition: 0.8s all;
    
}

.img-git:hover {
    transform: scale(1.1);
    opacity: 1;
    
}





